body {
    margin: 0px;
    padding: 0px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

header {
    height: 100px;

}

.header-main-pic {
    width: 100%;
    height: 350px;
    background-image: url('../assets/img/component.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 10%;
    display: flex;
}

header nav {
    width: 100%;
    height: 70px;
    background: white;
    position: absolute;

}

nav .brand-logo {
    height: 100px;

}

nav .brand-logo img {
    width: 70px;
}

header nav ul {
    height: 100px;
}

header ul a {
    color: black;
}



.input-field.input-container {
    height: 100px;
    float: none;
    display: flex;
    margin: 0 auto;
}

.input-field>#search {
    margin-top: 25px;
}

.input-container i {
    margin-top: 45px;
    margin-right: 15px;
}



.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 10px 10px;
    margin-left: 10;
    background-size: 40px 40px;
    background-repeat: no-repeat;
}

.social-link.facebook {
    background-image: url("../assets/icons/facebook.png");
}

.social-link.twitter {
    background-image: url("../assets/icons/twitter.png");
}

.social-link.Instagram {
    background-image: url("../assets/icons/instagram.png");
}

.social-link.linkedIn {
    background-image: url("../assets/icons/linkedin.png");
}

.container {
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

.container-project {
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    flex-wrap: inherit;
}



.footer {
    color: black;
    background-color: white;
    display: flex;
    box-shadow: 2px 0 0 0;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0px;
}

.footer a {
    color: black;
}


@media screen and (max-width: 1023px) {
    .container {
        padding: 0 1em;
    }

    .hero {
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
    }

    .hero-image {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
    }

    h1 {
        font-size: 2em;
        z-index: 0;
    }
}

@media screen and (max-width: 767px) {
    .project {
        display: block;
    }

    .header {
        display: block;
        height: auto;
    }

    .header ol {
        display: block;
    }

    .header ol li {
        height: 50px;
    }

    .header a {
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    .project-details {
        font-size: 12px;
    }

    .event-detail {
        margin: -40px 10px 10px 10px;
    }

    .footer {
        display: block;
        text-align: center;
        border: 1px solid transparent;
    }
}

@media screen and (max-width: 320px) {
    h1 {
        font-size: 1.2em;
        background: rgba(0, 0, 0, 0.5);
    }

    .hero {
        padding: 2em 1em;
    }
}